@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html, body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}


.cover {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position:0 40%;
    z-index:1;
    width: 100vw;
    height: 100vh;
}

.navbar {
    z-index:3;
}

.navbar-brand > img {
    width: 90px;
}

.navbar a {
    color: white;
    font-size: 1rem;
}

.nav-item {
    margin-right: 0.3rem;
}

.nav-link {
    transition-duration: 0.1s;
    border-bottom: 0.2rem solid rgba(255,255,255,0);
}

.nav-link:hover {
    border-bottom: 0.2rem solid rgba(255,255,255,1);
    color: #A92EF4;
}

.nav-right .nav-item {
    margin-right: 0 0.5rem;
}

.nav-register {
    border-right: 0.2rem solid white;
}

.main-heading {
    font-size: 2rem;
    font-weight: 500;
}

.main-heading a {
    color: #A92EF4 !important;
}
.main-heading a:hover {
    color: #A92EF4 !important;
}

.top-spacing {
    height: 10vh
}

.main-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 2;
}

.dates {
    font-size: 1.5rem;
    font-weight: 400;
}

.register-btn {
    background-color: white;
    color: black !important;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    border-radius: 0.2rem;
    transition-duration: 0.2s;
}

.register-btn:hover {
    background-color: #A92EF4;
    cursor: pointer;
    color: white !important;
    text-decoration:none;
}

.social-media a {
    font-size: 1.5rem;
    color: black;
    background-color: white;
    border-radius: 20rem;
    padding: 0.5rem;
    margin-left: 2rem;
    margin-bottom: 0.2rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    display: inline-block;
    transition-duration: 0.1s;
}

.social-media a:hover {
    background-color: #A92EF4;
    color: white;
}


.sponsor {
    font-size: 1.5rem;
}

.sponsor a:hover {
    color: #A92EF4 !important;
}

@media screen and (max-width: 1400px) {
    html, body {
        font-size: 14px;
    }
    
    .navbar-brand > img {
        width: 60px;
    }
}


@media screen and (max-width: 1024px) {
    .navbar-collapse {
        padding-left: 2rem;
        background-color: rgba(0,0,0,0.9);
        padding-bottom: 2rem;
    }
    .nav-register {
        border-right: none;
    }
}
@media screen and (max-width: 768px) {
    html, body {
        font-size: 13px;
        background-color: black;
        opacity: 1;
    }

    .sponsor {
        font-size: 1.2rem;
    }

    .social-media-container {
        flex-direction: column;
    }

    .cover {
        background-position: 70% 0;
        opacity: 0.3;
        filter: blur(1px);
    }

}

@media screen and (max-width: 365px) {
    html, body {
        font-size: 10px;
    }
}
